[submodule ".vim/pack/panarcadia/start/vim-airline"]
	path = .vim/pack/panarcadia/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/panarcadia/start/commentary"]
	path = .vim/pack/panarcadia/start/commentary
	url = https://tpope.io/vim/commentary.git
