[submodule ".vim/pack/panarcadia/start/vim-airline"]
	path = .vim/pack/panarcadia/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/panarcadia/start/commentary"]
	path = .vim/pack/panarcadia/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/panarcadia/start/vim-live-server"]
	path = .vim/pack/panarcadia/start/vim-live-server
	url = https://github.com/wolandark/vim-live-server
[submodule ".vim/pack/panarcadia/start/markdown-preview"]
	path = .vim/pack/panarcadia/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim
